# render.yaml
services:
  - type: web
    name: sistema-osiris
    env: node
    plan: starter
    buildCommand: npm run build
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 8080
